<div>
  <div>
    <button *ngIf="addButton " class="btn btn-dark m-3" (click)="showForm()" >Add User</button>
    <button  *ngIf="!addButton "class="btn btn-danger m-3" (click)="cancelForm()">Cancel</button>
    </div>
  <div  *ngIf="formStatus"class="card card-body bg-light" >
    <h2 >Add User</h2>

  <form  [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="" class="mb-1">Full Name</label>
      <input
        placeholder="Juan Dela Cruz"
        name="name"
        class="form-control"
        type="text"
        formControlName="name"
      />
      <span *ngIf="userForm.get('name').invalid && userForm.get('name').touched" >
        <span *ngIf="userForm.get('name').errors['minlength']" >The name must be at least 6 characters long.</span>
        <span *ngIf="userForm.get('name').errors['required']" >Name is required!</span>
      </span>


    </div>
    <div class="form-group mb-3">
      <label for="" class="mb-1">Username</label>
      <input
        placeholder="Username"
        name="username"
        type="text"
        class="form-control"
        formControlName="username"
      />
      <span *ngIf="userForm.get('username').invalid && userForm.get('username').touched" >
        <span *ngIf="userForm.get('username').errors['minlength']" >The username must be at least 3 characters long.</span>
        <span *ngIf="userForm.get('username').errors['required']" >Username is required!</span>
      </span>

    </div>
    <div class="form-group mb-3">
      <label for="" class="mb-1">Email</label>
      <input
        placeholder="juandelacruz@mail.com"
        name="email"
        type="email"
        class="form-control"
        formControlName="email"
      />
      <span *ngIf="userForm.get('email').invalid && userForm.get('email').touched" >
        <span *ngIf="userForm.get('email').errors['email']" >Invalid email!</span>
        <span *ngIf="userForm.get('email').errors['required']" >Email is required!</span>
      </span>
    </div>
    <div class="form-group mb-3">
      <label for="" class="mb-1">Phone</label>
      <input
        placeholder="09123456789"
        name="phone"
        type="text"
        class="form-control"
        formControlName="phone"
      />
      <span *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched" >
        <span *ngIf="userForm.get('phone').errors['required']" >Phone is required!</span>
      </span>
    </div>
    <button *ngIf="!updateButton" class="btn btn-block btn-dark my-4" [disabled]="userForm.invalid">Add New User</button>
  </form>
  <button *ngIf="updateButton" class="btn btn-block btn-primary my-4" [disabled]="userForm.invalid" (click)="onUpdateButton()">
    Update
  </button>
</div>
